@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:400,700i");
body {
  font-family: 'Roboto Mono', monospace; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.banner {
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: #181b24;
  text-align: center;
  padding-bottom: 4rem;
  font-weight: 700; }
  .banner__title {
    font-size: 4rem;
    letter-spacing: .015rem;
    margin-bottom: .5rem;
    font-style: italic;
    text-transform: capitalize; }
  .banner__jobs {
    letter-spacing: .015rem;
    text-transform: capitalize;
    font-size: 1.5rem;
    color: #fff; }
  .banner__text {
    background-color: rgba(0, 0, 255, 0.3);
    display: inline-block;
    padding: 0 1rem; }

.btn--dark {
  background-color: #181b24;
  color: #fff; }
  .btn--dark:hover {
    background-color: #fff;
    color: #181b24; }

.btn--light {
  background-color: #fff;
  color: #181b24; }
  .btn--light:hover {
    background-color: #181b24;
    color: #fff; }

.header {
  min-height: 100vh;
  background: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url(../../img/header-bcg.jpeg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column; }

.nav {
  background-color: #fff; }

.section-about {
  padding: 2rem 0;
  background-color: #ffffff; }
  .section-about__center {
    max-width: 90vw;
    margin: 2rem auto; }
    @media screen and (min-width: 992px) {
      .section-about__center {
        display: flex;
        justify-content: space-between; } }
  .section-about__img {
    margin: 3rem 0;
    position: relative; }
    .section-about__img--photo {
      display: block;
      width: 100%;
      height: 100%;
      position: relative; }
    .section-about__img::before {
      content: '';
      background-color: #899495;
      width: 100%;
      height: 100%;
      position: absolute;
      bottom: -10px;
      left: -10px; }
    @media screen and (min-width: 992px) {
      .section-about__img {
        flex: 0 0 calc(50% - 1rem); } }
  .section-about__info {
    margin: 3rem 0; }
    @media screen and (min-width: 992px) {
      .section-about__info {
        flex: 0 0 calc(50% - 1rem);
        display: flex;
        align-items: center; } }
  .section-about__title {
    font-size: 3rem;
    text-transform: capitalize;
    letter-spacing: .5rem;
    background: url("../../img/title-bcg.svg");
    background-repeat: no-repeat; }
  .section-about__text {
    color: #899495;
    line-height: 1.5;
    font-size: 1.2rem;
    margin: 3rem 0; }
  .section-about__single-link {
    display: inline-block;
    text-decoration: none;
    padding: .5rem 1rem;
    font-size: 1.5rem;
    letter-spacing: .2rem;
    text-transform: capitalize;
    border: solid 3px #181b24;
    transition: all .4s linear;
    margin-right: 1rem; }
