.footer {
  background-color: $color-dark;
  padding: 3rem 0;
  &__icons {
    display: flex;
    justify-content: space-around;
  }

  &__icon {
    font-size: 2rem;
    color: $color-light;
    transition: all .4s linear;

    &:hover {
      color: $color-grey;
    }
  }
}
