.form {
  &__header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 2rem 0;
  }

  &__input,
  &__textarea {
    background: transparent;
    border: none;
    border-bottom: solid 3px $color-grey;
    padding: .25rem 0;
    margin: 2rem 0;
    font-size: 1.2rem;
    outline: none;
  }

  &__input {
    flex: 0 0 calc(50% - 1rem);
  }

  &__textarea {
    width: 100%;
  }
}
