.section-about {
  padding: 2rem 0;
  background-color: $color-section-white;

  &__center {
    max-width: 90vw;
    margin: 2rem auto;

    @media screen and (min-width: 992px) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__img {
    margin: 3rem 0;
    position: relative;

    &--photo {
      display: block;
      width: 100%;
      height: 100%;
      position: relative;
    }

    &::before {
      content: '';
      background-color: $color-grey;
      width: 100%;
      height: 100%;
      position: absolute;
      bottom: -10px;
      left: -10px;
    }

    @media screen and (min-width: 992px) {
      // grow, shrink, basis
      flex: 0 0 calc(50% - 1rem);
    }
  }

  &__info {
    margin: 3rem 0;
    @media screen and (min-width: 992px) {
      // grow, shrink, basis
      flex: 0 0 calc(50% - 1rem);

      display: flex;
      align-items: center;
    }
  }

  &__title {
    font-size: 3rem;
    text-transform: capitalize;
    letter-spacing: .5rem;
    background: url('../../img/title-bcg.svg');
    background-repeat: no-repeat;
  }

  &__text {
    color: $color-grey;
    line-height: 1.5;
    font-size: 1.2rem;
    margin: 3rem 0;
  }

  &__single-link {
    display: inline-block;
    text-decoration: none;
    padding: .5rem 1rem;
    font-size: 1.5rem;
    letter-spacing: .2rem;
    text-transform: capitalize;
    border: solid 3px $color-dark;
    transition: all .4s linear;
    margin-right: 1rem;
  }
}

.section-services {
  background-color: $color-section-grey;
  padding: 3rem 0;

  &__center {
    max-width: 90vw;
    margin: 2rem auto;

    @media screen and (min-width: 786px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  &__text {
    width: 80%;
    margin: 0 auto;
    text-align: left;
    line-height: 1.5;
    letter-spacing: .2rem;
  }

  &__icon {
    font-size: 3rem;
  }

  &__single {
    margin: 2rem auto;
    text-align: center;
    transition: all .4s ease-in;
    padding: 2rem 0;

    &:hover {
      background-color: $color-light;
      box-shadow: $box-shadow;
    }

    @media screen and (min-width: 786px) {
      flex: 0 0 calc(50% - .5rem);
    }

    @media screen and (min-width: 992px) {
      flex: 0 0 calc(33.3333% - .25rem);
    }
  }

  &__title {
    text-align: center;
    background-image: url(../../img/title-bcg.svg);
    background-position: center;
    background-repeat: no-repeat;
  }
}

.section-numbers {
  background-image: linear-gradient(rgba($color-dark, .3), rgba($color-dark, .3)), url(../../img/numbers-bcg.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $color-light;

  &__center {
    max-width: 95vw;
    margin: 2rem auto;

    @media screen and (min-width: 576px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  &__num {
    font-size: 2rem;
    text-align: center;
  }

  &__icon {
    font-size: 3rem;
  }

  &__single {
    margin: 2rem auto;
    text-align: center;
    transition: all .4s ease-in;
    padding: 2rem 0;

    @media screen and (min-width: 576px) {
      flex: 0 0 calc(50% - .5rem);
    }

    @media screen and (min-width: 992px) {
      flex: 0 0 calc(25% - .5rem);
    }
  }

  &__title {
    text-align: center;
    background-image: url(../../img/title-bcg.svg);
    background-position: center;
    background-repeat: no-repeat;
  }
}

.section-projects {
  padding: 3rem;
  background-color: $color-light;
  &__title {
    text-align: center;
    background-image: url(../../img/title-bcg.svg);
    background-position: center;
    background-repeat: no-repeat;
  }

  &__center {
    max-width: 90vw;
    margin: 2rem auto;
  }

  &__single {
    margin: 2rem auto;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      background: $color-dark;
      width: 100%;
      height: 100%;
      transform: scale(0);
      opacity: 0;
      transition: all .65s ease;
    }

    &:hover::before {
      transform: scale(1);
      opacity: .5;
    }

    @media screen and (min-width: 768px){
      flex: 0 0 calc(50% - .5rem);
    }

    @media screen and (min-width: 992px){
      flex: 0 0 calc(25% - .5rem);
    }
  }

  &__single:hover &__icon {
    opacity: 1;
  }

  &__icon {
    color: $color-light;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 6rem;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .5s ease-in-out;

    &:hover {
      color: $color-grey;
    }
  }

  &__img {
    display: block;
    width: 100%;
  }

  &__center {
    width: 90vw;
    margin: 2rem auto;

    @media screen and (min-width: 768px){
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }
}

.section-contact {
  &__title {
    text-align: center;
    background-image: url(../../img/title-bcg.svg);
    background-position: center;
    background-repeat: no-repeat;
  }
}
